{% extends 'one/base.html' %}

{% block title %}
Водолей
{% endblock %}

{% block content %}
    <h1>Водолей</h1>
    <p>Перемены и снова перемены обещает год грядущий Водолеям. Но при этом не стоит забывать и о таких вечных ценностях, как здоровье: в марте, во время весенних затмений, этот вопрос будет особенно актуален.
“В первой половине года благоприятное влияние Юпитера в Близнецах принесёт оптимизм и уверенность в себе. Появятся возможности для увеличения доходов, а одиноких Водолеев ожидают новые знакомства и новые романтические отношения. Особенно удачным станет апрель: он будет благоприятен и для учебы, и для путешествий, и для развития бизнеса. Во второй половине года Юпитер переместится в сектор работы и здоровья. На работе в этот период можно ожидать улучшения отношений с коллегами, а также выгодных деловых предложений”.</p>
{% endblock %}