{% extends 'one/base.html' %}

{% block title %}
Овен
{% endblock %}

{% block content %}
    <h1>Овен</h1>
    <p>Для Овнов наступающий 2025 год обещает стать годом трансформаций и открыть новые возможности для роста. Представители этого знака в любой ситуации стремятся занять лидерские позиции, и в новом году планеты только усилят эти качества. “В 2025 году строгий учитель Сатурн с конца мая и до сентября переходит в ваш знак, а Юпитер отвечает за сектор общения и связей в вашем гороскопе, - отмечает эксперт. - Первая половина года будет удачной для обучения, путешествий, расширения связей и общения. Это означает, что наступает время для важных шагов и решений в профессиональной и личной жизни. Для достижения поставленных целей Сатурн потребует больше терпения и усердия. А Венера в конце августа и в сентябре окажется в знаке Льва и тем самым освятит сектор любви. Это хорошее время для новых знакомств, начала романтических отношений, помолвки и брака”.</p>
{% endblock %}