{% extends 'one/base.html' %}

{% block title %}
Рак
{% endblock %}

{% block content %}
    <h1>Рак</h1>
    <p>Ракам в 2025 году стоит готовиться к переменам в карьере. Первые месяцы года (до марта) они будут медленно, но уверенно двигаться к большой цели, а на работе звезды обещают уважение и признание. Также, по словам астролога, это хорошее время для покупки недвижимости или ремонта дома.
“С июня до октября благоприятное действие Меркурия и Юпитера поможет обрести новые полезные связи и знакомства. Юпитер привлекает больше счастья и удачи. Это хороший период для получения образования, бизнеса и путешествий, а также решения юридических вопросов. Начатые в это время проекты наверняка окажутся удачными и принесут в будущем хороший доход. В плане здоровья все также будет благоприятно. А в августе, когда Венера посетит ваш знак, стоит готовиться к новым знакомствам и даже романтическим отношениям. Август будет благоприятным периодом для инвестиций и крупных покупок”.</p>
{% endblock %}