{% extends 'one/base.html' %}

{% block title %}
Козерог
{% endblock %}

{% block content %}
    <h1>Козерог</h1>
    <p>Февраль 2025 года станет успешным месяцем для карьеры и бизнеса Козерогов. Добиться впечатляющих результатов помогут терпение, уверенность в себе и выносливость. Проявить лидерские качества помогут новые ответственные обязанности.
“В период весенних затмений становятся актуальными темы, связанные с обучением, бизнес-вопросами и дальними поездками. В конце марта влияние солнечного затмения может принести испытания, да и в целом весной Козерогов ждут важные перемены, например, переезд, смена работы или масштабный ремонт. Во второй половине года большую значимость приобретут партнерские отношения. Юпитер словно будет подталкивать вас к активному улучшению своей жизни, увеличению доходов. Одинокие Козероги в этот период могут встретить свою вторую половинку и даже вступить в брак. Осень - хорошее время для обучения, обретения новых знакомств и полезных связей”.</p>
{% endblock %}