{% extends 'one/base.html' %}

{% block title %}
Лев
{% endblock %}

{% block content %}
    <h1>Лев</h1>
    <p>Достаточно благоприятной первая половина года окажется и для Львов. Влияние и авторитет представителей этого знака будут только расти, так что стоит использовать это для продвижения своих идей и проектов. Для новых романтических отношений или перехода на новый уровень в уже существующих этот период тоже будет благоприятным.
“С мая и до середины октября Сатурн окажет положительное влияние на многие сферы вашей жизни: поможет добиться успехов в делах и продвижения по карьерной лестнице, будет благоприятен для операций с недвижимостью, благоустройства квартиры, дома или участка. С июля по ноябрь Уран откроет новые возможности для перемен на работе. Вы будете более активно общаться и в результате обретете новых друзей и единомышленников. Однако с 18 июля по 11 августа для знака наступит период ретроградного Меркурия, а значит, вероятны неприятные известия, проблемы в поездках и деловой сфере”.</p>
{% endblock %}