{% extends 'one/base.html' %}

{% block title %}
Весы
{% endblock %}

{% block content %}
    <h1>Весы</h1>
    <p>Для Весов первая половина 2025 года обещает стать благоприятной для обучения,
получения образования, а также изучения иностранных языков и повышения квалификации. А завязанное в этот период новое деловое партнёрство в дальнейшем обещает хорошую прибыль.
“Ближе к весне Весам следует обратить особое внимание на свое здоровье, - отмечает астролог. - Напряженная работа и перегрузки могут не лучшим образом отразиться на состоянии вашего организма, ослабляя иммунитет. Поэтому так важно вовремя обращаться к врачу, старайтесь больше гулять и отдыхать. Со второй половины июля до октября Юпитер предостерегает Весы от излишней самоуверенности и преувеличении своих сил. В это время не стоит одновременно браться сразу за несколько проектов, в противном случае есть риск распылить свои силы впустую. В период осенних затмений в сентябре нужно обратить внимание на здоровье. Будьте готовы к компромиссам как на работе, так и во взаимоотношениях”.</p>
{% endblock %}