{% extends 'one/base.html' %}

{% block title %}
Рыбы
{% endblock %}

{% block content %}
    <h1>Рыбы</h1>
    <p>Заветные цели, которые Рыбы ставят перед собой на 2025 год, станут ближе благодаря тому, что, по словам астролога, в начале года кармический лунный узел
войдёт в этот знак. Самыми важными для Рыб станет весна и осень: в эти месяцы стоит обратить пристальное внимание сфере партнерских отношений. Одиночки получат шанс обрести вторую половинку, уже состоящие в отношениях столкнутся с обновлением или испытаниями на прочность.
“Во второй половине года Сатурн и Нептун поменяют знак и войдут в сектор финансов. С июля по октябрь благоприятное положение Юпитера будет способствовать увеличению доходов, получению финансовой выгоды. Предыдущие старания и усилия на работе принесут хорошие результаты: это может быть как продвижение в карьере, так и улучшение в материальном плане. Но если прежде вы не проявляли упорства и усердия в работе, то есть риск столкнуться с разочарованием, а также необходимостью пересмотреть свои цели”.</p>
{% endblock %}