{% extends 'one/base.html' %}

{% block title %}
Дева
{% endblock %}

{% block content %}
    <h1>Дева</h1>
    <p>Серьезные перемены как в личной, так и профессиональной жизни 2025 год сулит и Девам. Наиболее важными и судьбоносными обещают стать весна и осень.
“Это время периода затмений. В марте лунное затмение будет в вашем знаке и отметит завершение важного этапа. Период осенних затмений в сентябре станет испытанием на прочность для личных отношений. В то же время для одиноких представителей знака осенью возрастает вероятность встретить вторую половинку. В первой половине года возможны трудности. Так, Сатурн может создавать препятствия и ограничения, но с мая по июль Уран принесёт в вашу жизнь уже приятные перемены. Например, знакомство с новыми интересными людьми или долгосрочное сотрудничество, обещающее в перспективе рост доходов”.
</p>
{% endblock %}